apiVersion: scribe.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: uploader-pvc 
  namespace: uploader-app
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  sourcePVC: uploader-pvc
  trigger:
    schedule: "*/2 * * * *"
  rsync:
    sshKeys: scribe-key
    address: scribe-rsync-dest-uploader-pvc.uploader-app.svc.clusterset.local
    copyMethod: None
